@import '../../styles/theme.scss';

.registration {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    max-width: 450px;
    &__email, 
    &__password, 
    &__password-repeat {
        @include defaultInput;
    }
    &__password-repeat {
        margin-bottom: 10px;
    }
    &__submit{
        @include defaultButton;
        width: 50%;
    }
    &__error{
        color: red;
        margin-bottom: 20px;
        
    }
}
.registration-message{
    padding: 15px;
    width: 250px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}